/**
 * Page Accommodation
 */






.accommodation {
    @include media-min('sm') {
        margin-bottom: 3rem;
    }
    @include media-max('sm') {
        margin-bottom: 1.5rem;
    }
    
    // HEADER
    &-header {
        display: flex;
        gap: 0 2rem;
        color: $primary;
        font-weight: 500;
        &-tags {
            display: flex; flex-wrap: wrap;
            gap: 0.625rem;
        }
        &-tag {
            display: flex; align-items: center;
            padding: 0 2rem;
            background-color: $primary;
            color: $white;
        }
        &-2 {
            display: flex;
        }
        &-host {
            display: flex; align-items: center;
            gap: 0.625rem;
            &-picture img {
                width: 100%; height: 100%;
                object-fit: cover;
                border-radius: 2rem;
            }
        }
        @include media-min('lg') {
            justify-content: space-between;
            &-title {
                margin: 2rem 0 .5rem;
                font-size: 2.25rem;
            }
            &-secondary {
                margin-bottom: 1.5rem;
                font-size: 1.25rem;
            }
            &-tags {
                margin-bottom: 1.5rem;
            }
            &-tag {
                height: 1.5625rem;
                border-radius: 0.625rem;
                font-size: 0.875rem;
            }
            &-2 {
                flex-direction: column; justify-content: center; align-items: flex-end;
                gap: 1.5rem;
            }
            &-host {
                &-name {
                    text-align: right;
                    font-size: 1.25rem;
                }
                &-picture {
                    width: 4rem; height: 4rem;
                }
            }
        }
        @include media-max('lg') {
            flex-direction: column;
            &-title {
                margin: 1rem 0 .3125rem;
                font-size: 1.125rem;
                line-height: 1.6;
            }
            &-secondary {
                margin-bottom: 0.625rem;
                font-size: 0.875rem;
            }
            &-tags {
                margin-bottom: 0.3125rem;
            }
            &-tag {
                height: 1.125rem;
                border-radius: 0.3125rem;
                font-size: 0.625rem;
            }
            &-2 {
                flex-direction: row-reverse; justify-content: space-between; align-items: center;
                padding: 1rem 0;
                gap: 1.5rem;
            }
            &-host {
                &-name {
                    font-size: 0.75rem;
                }
                &-picture {
                    width: 2rem; height: 2rem;
                }
            }
        }
    }
    // CONTENT
    &-content {
        display: grid;
        gap: 4.75rem;
        @include media-min('sm') {
            grid-template-columns: repeat(2, 1fr);
            gap: 4.75rem;
        }
        @include media-max('lg') {
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }
        & .accordion-header, & .accordion-content-wrapper {
            @include media-min('sm') {
                font-size: 1.125rem;
            }
        }
        @include media-min('sm') {
            & .accordion {
                display: flex; flex-direction: column;
                &.active {
                    height: 100%;
                }
                &-content {
                        flex-grow: 1;
                }
            }
        }
    }
}