/**
 * Slider
 */






.slider {
    position: relative;
    @include media-min('sm') {
        height: 26rem;
    }
    @include media-max('sm') {
        height: 16rem;
    }
    &-picture {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        animation: sliderFadeIn .8s ease-in-out;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
            @include media-min('sm') {
                border-radius: 1.5625rem;
            }
            @include media-max('sm') {
                border-radius: 0.625rem;
            }
        }
    }
    &-button {
        position: absolute; top: 0; bottom: 0;
        cursor: pointer;
        @include media-min('sm') {
            padding: 1.5rem;
        }
        @include media-max('sm') {
            padding: 0.3125rem;
            & img {
                height: 1.25rem;
            }
        }
        &.next {
            right: 0;
        }
        &.previous {
            left: 0;
        }
    }

    @include media-min('sm') {
        &-counter {
            position: absolute; right: 0; bottom: 0; left: 0;
            padding: 1.5rem 0;
            color: $white;
            text-align: center;
            font-size: 1.125rem;
            font-weight: 500;
        }
    }
    @include media-max('sm') {
        &-counter {
            display: none;
        }
    }
}




@keyframes sliderFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}